
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.background-color-main{
    background-color: #E5E5E5;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .main-header-head{
        height: 480px;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: none;
    } 
    .main-text{
        font-size: 40px;
        width: fit-content;
    }
    .main-para{
        width: 300px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}
.main-header-head{
    display: flex;
    flex-direction: row;
    background-image: url(../Ass1/Assets/Images/Background.jpeg);
    flex-wrap: nowrap;
    background-image:100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 3%;
}
  /* Styles for medium screens */
@media screen and (max-width: 767px) {
    .main-header-head{
        flex-direction: column-reverse;
        height: 900px;
    }
    .main-text{
        font-size: 32px;
        width: fit-content;
    }
    .main-para{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}
.main-text{
    font-weight: 700;
    font-size: 48px;
    line-height: 123.6%;
    margin: auto;
}
.main-button{
    width: 33%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    align-items: center;
    color: #2B2B2B;
    text-align: center;
    margin: 10px 0 6px;
    width: 154px;
    height: 51px;
    background: #FFB400;
    border-radius: 5px;
    border: none;
}
.main-button:hover {
    background-color: #ffd982;
}
@media screen and (max-width: 767px) {
.main-button{
    margin-left: 170px;
    margin-bottom: 25px;
    }
}
.yellow-color{
    color: #FFB400;
}
.yellow-color-2{
    color: #FFB400;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}
.main-para{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #767676;
}
.sec-subtext{
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
}
.main-subtext{
    font-weight: 700;
    font-size: 32px;
    line-height: 123.6%;
}
.my-services-section-head{
    margin: 0 3%;
    padding-top: 40px;
    text-align: center;
    background-color: #E5E5E5;
    height: 200px;
    text-transform: capitalize;
}
.my-services-section-head p{
    color: #767676;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
}
.my-services-section p{
    color: #767676;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
}
.my-services-section{
    display: grid;
    gap: 30px 30px;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 250px 250px;
    background-color: #E5E5E5;
    padding: 10px;
    justify-content: center;
}
.services-lay{
    align-items: center;
    background-color: #FFFFFF;
    padding: 35px;
    font-size: 30px;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .my-services-section{
        grid-template-columns: 46% 46% ;
        grid-template-rows: 250px 250px 250px;
    }
}
@media screen and (max-width: 767px){
    .my-services-section{
        grid-template-columns: 550px;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
    }
}
.my-portfolio-section-head{
    padding-top: 40px;
    text-align: center;
    background-color: #E5E5E5;
    height: 200px;
    text-transform: capitalize;
}   
.my-portfolio-section-head p{
    color: #767676;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
}
.my-portfolio-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: #E5E5E5;
    padding-top: 10px;
    padding-bottom: 50px;
    margin: 0 3%;
}
.port-item img{
    content:"+";
    font-size: 50px;
    width: 100%;
    height: 100%;
}
.my-portfolio-section div{
    width: 26%;
    background: url(../Ass1/Assets/Images/Image.png);
    background-position: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.port-item img:hover{
    background: url(../Ass1/Assets/Images/Image.png);
    background-position: 50%;
    opacity: 0.2;
    font-size: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .my-portfolio-section{
        margin: 0 3%;
    }
    .my-portfolio-section div{
        width: 30%;
        justify-content: flex-start;
    }
} 
@media screen and (max-width: 767px){
    .my-portfolio-section{
        margin: 0 3%;
    }
    .my-portfolio-section div{
        width: 45%;
        justify-content: flex-start;

    }
}
.contact-section{
    display: grid;
    gap: 20px;
    column-gap: 40px;
    grid-template-columns: 46% 30%;
    grid-template-rows: auto 250px 250px 250px;
    padding: 10px;
    align-content: stretch;
    justify-content: center;
    background-color: #E5E5E5;
    padding-bottom: 30px;
}  
.contact-section div{
    position: relative;
    left: 0;
    top: 0;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    gap: 15px;
    line-height: 123.6%;
}
.item1,.item2, .item3, .item4{
    background-color: #FFFFFF;
    padding: 30px 30px; 
}
.item1 {
    grid-row: 2 / 5;
}
.para-item1{
    grid-row: 1 / 2;
    background-color:  #E5E5E5;
}
.para-item1 h2{
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    line-height: 123.6%;
}  
.para-item2{
    background-color:  #E5E5E5;
}
.para-item2 h2{
    text-align: left;
    font-weight: 700;
    font-size: 32px;
    line-height: 123.6%;
}
.contact-section p{
    top: 2912px;
    color: #767676;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    text-align: right;
}
.label{
    width: 570px;
    height: 22px;
    left: 145px;
    top: 2912px;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #767676;
}
.text-right{
    display: grid;
    height: 22px;
    left: 145px;
    top: 2912px;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    text-transform: capitalize;
    color: #767676;
    justify-content: start;
    justify-items: end;
}
.text-left{
    display: grid;
    gap: 5px;
    flex-direction: column;
    grid-template-rows: 0.5px;
    justify-content: end;
    align-items: end;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    text-transform: capitalize;
    color: #767676;
}
.input-textarea{
    left: 145px;
    width: 100%;
    top: 2627px;
    background-color: #F0F0F6;
    border: none;  
}
.input-box{
    width: 100%;
    height: 50px;
    left: 145px;
    top: 2627px;
    background-color: #F0F0F6;
    border: none;
}
.message-box{
    background: #FFB400;
    width: 154px;
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #2B2B2B;
    border: none;
}
.circle-icon-1,.circle-icon-2,.circle-icon-3{
    position: absolute; 
    left: 200px; 
    background-color: #FFB400;
    padding: 11px;
    border-radius: 30px;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .contact-section{
        grid-template-columns: 46% 46%;
    }
    .item1 {
        grid-row: 2 / 5;
        grid-column: 1/3;
    }
    .para-item1{
        grid-column: 1 / 3;
    }
    .para-item2{
        grid-row: 5 / 6;
        grid-column: 1/3;
    }
    .input-textarea{
        height: 240px;
    } 
    .circle-icon-1{
        left: 190px;
    }
    .circle-icon-2{
        left: 180px; 
    }
    .circle-icon-3{
        left: 190px;
    }
} 
/* Styles for medium screens */
@media screen and (max-width: 767px) {
    .contact-section{
        grid-template-columns: 581px ;
    }
    .item1 {
        grid-row: 2 / 5;
        grid-column: 1/2;
    }
    .para-item1{
        grid-column: 1 / 2;
    }
    .para-item2{
        grid-row: 5 / 6;
        grid-column: 1/2;
    }
    .input-textarea{
        height: 240px;
    } 
    .circle-icon-1{
        left: 250px;
    }
    .circle-icon-2{
        left: 250px; 
    }
    .circle-icon-3{
        left: 250px;
    }
} 
.padges-section{
    display: flex;
    flex-direction: row;
    height: 210px;
    gap: 13%;
    justify-content: center;
    background-color: #E5E5E5  
}
.footer-section{
    text-align: center;
}
 /* Styles for taplet screens */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .padges-section{
        gap: 7%;
    }
    .footer-section{
        text-align: center;
    }
}
 /* Styles for medium screens */
@media screen and (max-width: 767px) {
    .padges-section{
        height: fit-content;
        column-gap: 150px;
        row-gap: 90px;
        flex-wrap: wrap
    }
    .footer-section{
        text-align: center;
    }
}



